page-modalpage {


    p{color: #202020;}
    .btn_modal_close{
        position: absolute;
        top:0px;
        right: 5px;
    }
    
    .img_content{
    img{ margin-top: 0px;}
    }

   .icon ion-icon{
        color:#202020;
        font-size: 2em;

    }
      

    h4.title_profile{
        color: #FFFFFF;
        position: absolute;
        font-size: 2.3em;
        top:270px;
        left: 30px;
    }
    h3.prof_title{
        font-weight: bolder;
        color:#121212;
        padding-top:6px;
        
    }
    p.desc_prof{
        color: #353535;
        font-size: 1.1em;
        margin-top: -7px;     
    }
    span.ocupation_prof{
        color: #FFFFFF;
        position: absolute;
        margin-top: 3px;
        font-size: 1.25em;
        top:320px;
        left: 35px;
    }

}

